<%- include('./admin-includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
<%- include('./admin-includes/navigation.ejs') %>
<main>
    <% if (errorMessage) { %>
        <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
    <form  class="product-form" action="/<% if (editing) { %>edit-course<% } else { %>add-course<% } %>" method="POST">
        <div class="form-control">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="<% if (editing || hasError) { %> <%= course.title %> <% } %>">
        </div>
        
        <div class="form-control">
            <label for="title">Instructor</label>
            <% if (instructors.length == 0) { %>
                <h4 style="color: red;">No available Instructors for now!</h4>
            <% } else { %>
                <select class="selectpicker" name="selectpicker" id="">
                    <option name="" value="0">Select table</option>
                    <% for (let instructor of instructors) { %>
                    <option name="" value="<%= instructor.email %>"><%= instructor.email %></option>
                    <% } %>
                </select>
            <% } %>
            <small>If the Instructor is not in the list bellow then you must add him/her first.</small>
            <% if (editing || hasError) { %>
                <input type="text" name="instructor" id="instructor" value="<%= course.teacherId.name %>">
            <% } %>
        </div>

        <div class="form-control">
            <label for="price">Price per session</label>
            <input type="number" name="price" id="price" step="1" value="<% if (editing || hasError) { %><%= course.pricePerSession %><% } %>">
        </div>

        <div class="form-control">
            <label for="session">Session</label>
            <input type="date" name="session" id="session" value="<% if (editing || hasError) { %><%= course.session %><% } %>">
        </div>

        <div class="form-control">
            <label for="description">Description</label>
            <textarea name="description" id="description" rows="5"><% if (editing || hasError) { %><%= course.description %><% } %></textarea>
        </div>
        <% if (editing) { %>
            <input type="hidden" value="<%= course._id %>" name="courseId">
        <% } %>
        <button class="btn" type="submit"><% if (editing) { %>Update Course<% } else { %>Add Course<% } %></button>
    </form>
</main>