<%- include('./admin-includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
<%- include('./admin-includes/navigation.ejs') %>
<main>
    <% if (teachers.length > 0) { %>
        <div class="grid">
            <% for (let teacher of teachers) { %>
                <article class="card product-item">
                    <header class="card__header">
                        <h3 class="product__title">
                            <%= teacher.name %>
                        </h3>
                    </header>
                    <div class="card__content">
                        <p class="product__description">
                            <%= teacher.email %> 
                        </p>
                    </div>
                    <% if (teacher.courses.length > 0) { %>
                        <h6>Courses teaching:</h6>
                        <ul>
                            <% for (let course of teacher.courses) { %>
                                <li><p><%= course.name %></p></li>
                            <% } %>
                        </ul>
                    <% } else { %>
                        <p>He got no courses</p>
                    <% } %>
                    <div class="card__actions">
                        <a href="/edit-teacher/<%= teacher._id %>?edit=true" class="btn">Edit</a>
                        <form action="/teacher-activity" method="POST">
                            <input type="hidden" value="<%= teacher._id %>" name="teacherId">
                            <% if (!teacher.isActive) { %>
                                <button class="btn" type="submit">Activate</button>
                            <% } else { %>
                                <button class="btn" type="submit">Deactivate</button> 
                            <% } %>
                        </form>
                    </div>
                </article>
                <% } %>
        </div>
        <% } else { %>
            <h1>No Teachers for now!</h1>
        <% } %>
            <a href="/add-teacher">Add new Teacher to the fam!</a>
</main>