<%- include('../includes/links.ejs') %>
<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>

<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg');">
<div class="overlay"></div>
<div class="container">
<div class="row no-gutters slider-text align-items-center justify-content-center">
<div class="col-md-9 pt-5 mt-5 text-center">
<p class="breadcrumbs"><span class="me-2"><a href="index-2.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Courses <i class="fa fa-chevron-right"></i></span></p>
<h1 class="mb-0 bread">Explore Courses</h1>
</div>
</div>
</div>
</section>
<section class="ftco-section courses-section">
<div class="container">
    <div class="row">
    <% if (!courses.length) { %>
        <h3>No available courses for now.</h3>
    <% } else { %>
        <% for (let course of courses) { %>
            <div class="col-md-6 col-lg-4" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
            <div class="courses">
            <div class="d-flex">
            <div class="icon"><span class="flaticon-engineer"></span></div>
            <div class="text">
            <h2><a href="/courses/<%= course._id %>"><%= course.name %></a></h2>
            <div class="author-wrap d-flex align-items-center">
            <span class="author"><%= course.teacherId.name %></span>
            </div>
            <p class="lec">50 lectures (190 hrs)</p>
            </div>
            </div>
            <div class="text-center bg-light rounded py-2 my-3">
            <p class="course-price mb-0"><span><%= course.pricePerSession %></span></p>
            </div>
            <div class="text-center">
            <a 
                href="<% if (isAuthenticated) { %>/enroll<% } else { %> # <% } %>" 
                class="btn d-block btn-primary btn-outline-primary py-3">
                Enroll Now!
            </a>

            </div>
            </div>
            </div>
            <% } %>
    <% } %> 

<!-- Mirrored from preview.colorlib.com/theme/academia/courses.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Jun 2021 13:28:55 GMT -->


<%- include('../includes/end.ejs') %>