<%- include('../includes/links.ejs') %>
<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>

<section class="hero-wrap hero-wrap-2" style="background-color: #a3cfd1;">
<div class="overlay"></div>
<div class="container">
  <div class="row no-gutters slider-text align-items-center justify-content-center">
    <div class="col-md-9 pt-5 mt-5 text-center">
      <div class="container" style="text-align: center; margin: 0 auto; border: 1px solid white; border-radius: 1rem;">
        <h3>You're joining <%= course.name %></h3>
        <span class="price"><sup>LE</sup> <span class="number"><%= course.pricePerSession %>/Class</span></span>
        <h6 style="color: red;"><%= course.teacherId.name %></h6>
        <p><%= course.description %></p>
        <% if (isAuthenticated) { %>
          <a href="/courses/<%= course._id %>/enroll" class="btn btn-primary btn-outline-primry">Enroll Now</a>
        <% } else { %>
            <small>Please Login to enroll</small>
        <% } %>
      </div>
    </div>
  </div>
</div>
</section>

<%- include('../includes/end.ejs') %>
